* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin-top: 30px;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
.profile-container {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
}

.profile-container h1 {
  margin-bottom: 20px;
  color: #1e6ea2;
  font-size: 24px;
  text-align: center;
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group input[type="range"] {
  width: calc(100% - 50px);
}

#volume-value {
  font-size: 14px;
  margin-left: 10px;
}

.form-group span {
  margin-left: 5px;
  font-size: 14px;
  color: #666;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1e6ea2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #155480;
}
